<header>
    <div class="titulo">
        <h1>MyBooks</h1>
    </div>
    <div class="links">
        <a routerLink="/home" routerLinkActive="selected">Home</a>
        <a routerLink="/add" routerLinkActive="selected">AddBook</a>
        <a routerLink="/update" routerLinkActive="selected">UpdateBooks</a>
        <a routerLink="/books" routerLinkActive="selected">Books</a>
        <a routerLink="/registro" routerLinkActive="selected">Register</a>
        <a routerLink="/perfil" routerLinkActive="selected">User</a>
    </div>
</header>