<div class="fondo">

    <div class="text">
        <div class="t1">
            Registrate
            <hr>
        </div>
        
        <div class="t2">
            <input type="text" placeholder="Nombre" class="t2Input">
            <input type="text" placeholder="Apellido" class="t2Input">
            <input type="email" placeholder="Correo" class="t2Input">
            <input type="password" placeholder="Contraseña" class="t2Input">
            <input type="password" placeholder="Repetir contraseña" class="t2Input">
            
            <button type="button" class="bRegistro">Registrate</button>
        </div>
    </div>

</div>

